# Short vaex demo

In [1]:
import vaex

VAEX = '/home/ian/data/land_registry/pp-complete-202009.csv.hdf5'

COLUMNS = ['tin',
 'price',
 'date',
 'postcode',
 'pt',
 'new',
 'duration',
 'paon',
 'saon',
 'street',
 'locality',
 'town',
 'district',
 'county',
 'ppd_cat',
 'status']

In [2]:
# this will convert the data for you if you have the CSV downloaded from
# https://www.gov.uk/government/statistical-data-sets/price-paid-data-downloads
# as a Single File CSV (circa 3.7GB)
# df = vaex.from_csv(CSV_FILENAME, convert=True, names=COLUMNS)

In [3]:
def open():
    # this assumes you've pre-converted the data
    # and so the Vaex file will sit alongside
    # the CSV file
    df = vaex.open(VAEX)
    print(f"df has shape {df.shape}")
    return df

print(VAEX)
vdf = open()

/home/ian/data/land_registry/pp-complete-202009.csv.hdf5
df has shape (25467513, 16)

In [4]:
vdf.dtypes

tin          <class 'str'>
price                int64
date        datetime64[ns]
postcode     <class 'str'>
pt           <class 'str'>
new          <class 'str'>
duration     <class 'str'>
paon         <class 'str'>
saon         <class 'str'>
street       <class 'str'>
locality     <class 'str'>
town         <class 'str'>
district     <class 'str'>
county       <class 'str'>
ppd_cat      <class 'str'>
status       <class 'str'>
dtype: object

In [5]:
vdf.head()

  #  tin                                       price  date                           postcode    pt    new    duration    paon               saon     street                locality         town          district               county          ppd_cat    status
  0  {A42E2F04-2538-4A25-94C5-49E29C6C8FA8}    18500  1995-01-31 00:00:00.000000000  TQ1 1RY     F     N      L           VILLA PARADISO     FLAT 10  HIGHER WARBERRY ROAD  TORQUAY          TORQUAY       TORBAY                 TORBAY          A          A
  1  {1BA349E3-2579-40D6-999E-49E2A25D2284}    73450  1995-10-09 00:00:00.000000000  L26 7XJ     D     Y      F           6                  None     CATKIN ROAD           LIVERPOOL        LIVERPOOL     KNOWSLEY               MERSEYSIDE      A          A
  2  {E5B50DCB-BC7A-4E54-B167-49E2A6B4148B}    59000  1995-03-31 00:00:00.000000000  BH12 2AE    D     N      F           28                 None     ALDER ROAD            POOLE            POOLE         POOLE                  POOLE           A          A
  3  {81E50116-D675-4B7F-9F8D-49E2B5D43271}    31000  1995-12-04 00:00:00.000000000  IP13 0DR    D     Y      F           NONSUCH COTTAGE    None     THE STREET            HACHESTON        WOODBRIDGE    SUFFOLK COASTAL        SUFFOLK         A          A
  4  {B97455B9-75CB-40BB-A615-42C53683E143}    95000  1995-09-22 00:00:00.000000000  WS14 0BE    D     N      F           FOX COVER COTTAGE  None     HALL LANE             LICHFIELD        LICHFIELD     LICHFIELD              STAFFORDSHIRE   A          A
  5  {F0D1E8DA-C00D-467A-A41C-42C5378DB6E0}    45450  1995-02-28 00:00:00.000000000  S42 5GA     S     Y      F           109                None     ELVASTON ROAD         NORTH WINGFIELD  CHESTERFIELD  NORTH EAST DERBYSHIRE  DERBYSHIRE      A          A
  6  {7DAC48DA-D479-4922-86B0-42C5580DFC67}    96000  1995-10-27 00:00:00.000000000  KT17 2DU    S     N      F           82                 None     KINGSTON ROAD         EPSOM            EPSOM         EPSOM AND EWELL        SURREY          A          A
  7  {10E5F080-7AF3-4982-AAEF-42C55DC955FC}    30000  1995-11-28 00:00:00.000000000  WS10 9LD    S     N      F           66                 None     HILL STREET           WEDNESBURY       WEDNESBURY    WALSALL                WEST MIDLANDS   A          A
  8  {B365B080-3670-4955-80F8-42C55F081143}   425000  1995-03-31 00:00:00.000000000  KT11 1HP    D     N      F           18                 None     BRUNSWICK GROVE       COBHAM           COBHAM        ELMBRIDGE              SURREY          A          A
  9  {7648EFE5-67A0-4728-B5DE-42C565DA1D28}    89995  1995-06-30 00:00:00.000000000  WF6 2TT     D     Y      F           8                  None     SHAW AVENUE           NORMANTON        NORMANTON     WAKEFIELD              WEST YORKSHIRE  A          A

In [6]:
%%time
print(f'Mean for price column: {vdf.price.mean():0.2f}')

Mean for price column: 199101.19
CPU times: user 387 ms, sys: 73.4 ms, total: 460 ms
Wall time: 108 ms

In [7]:
def groupby_pt_count(vdf):
    res = vdf.groupby('pt', 'count')
    return res

res = groupby_pt_count(vdf)
print(type(res))
res

<class 'vaex.dataframe.DataFrameArrays'>

  #  pt               count
  0  T          7.70966e+06
  1  D          5.85777e+06
  2  F          4.6032e+06
  3  S          6.99735e+06
  4  O     299533

In [8]:
def groupby_year_pt_count(vdf):
    res = vdf.groupby(['year', 'pt'], 'count')
    return res

# make a virtual column
vdf['year'] = vdf.date.dt.year

res = groupby_year_pt_count(vdf)
print(type(res))
res

<class 'vaex.dataframe.DataFrameArrays'>

#    year    pt    count
0    2018    S     268876
1    2018    T     275576
2    2018    D     234432
3    2018    F     184979
4    2018    O     67280
...  ...     ...   ...
125  1998    S     302522
126  1998    T     322838
127  1998    D     257232
128  1998    F     167303
129  1998    O     4

# We can convert this to a Pandas DataFrame

In [9]:
res.to_pandas_df()

     year pt   count
0    2018  S  268876
1    2018  T  275576
2    2018  D  234432
3    2018  F  184979
4    2018  O   67280
..    ... ..     ...
125  1998  S  302522
126  1998  T  322838
127  1998  D  257232
128  1998  F  167303
129  1998  O       4

[130 rows x 3 columns]

In [10]:
price_series = vdf.price.to_pandas_series()
price_series.head()

0    18500
1    73450
2    59000
3    31000
4    95000
dtype: int64

In [11]:
%%time
price_series.mean()
# in memory this is fast but Vaex, via disk, is still pretty fast!

CPU times: user 73.7 ms, sys: 0 ns, total: 73.7 ms
Wall time: 72 ms

199101.1903886728

# Compare slow Pandas `str` and faster Vaex `str`

In [12]:
# make a Pandas Series of 25M rows from Vaex DataFrame
street_series = vdf.paon.to_pandas_series()

In [13]:
%%time
smask = street_series.str.lower().str.contains('cottage')

CPU times: user 18.3 s, sys: 1.95 s, total: 20.3 s
Wall time: 20.3 s

In [14]:
smask[:5]

0    False
1    False
2    False
3     True
4     True
dtype: object

In [15]:
smask_sum = smask.sum()
smask_sum

321828

In [16]:
# eyeball the output from Vaex, note speed and the _partial_ evaluation that'll occur
vdf.paon.str.lower().str.contains('cottage')

Expression = str_contains(str_lower(paon), 'cottage')
Length: 25,467,513 dtype: bool (expression)
-------------------------------------------
       0  False
       1  False
       2  False
       3   True
       4   True
      ...
25467508  False
25467509  False
25467510   True
25467511  False
25467512  False

In [17]:
%%time
assert vdf.paon.str.lower().str.contains('cottage').sum() == smask_sum
# we force a full calculation here and check against the Pandas answer

CPU times: user 5.53 s, sys: 42.4 ms, total: 5.58 s
Wall time: 767 ms

# Experiment on `apply`

`apply` runs slowly, it seems to be single core, but it does run.

In [19]:
%%time
vdf.postcode.apply(lambda s: s.split(' ')[0] if s is not None else '').value_counts()

CPU times: user 1min 10s, sys: 1.58 s, total: 1min 11s
Wall time: 1min 8s

CR0        61610
BN3        53345
BN2        47993
E14        46889
BN1        46340
           ...
KT40           1
GR52           1
UNKNOWN        1
CH99           1
YO91           1
Length: 2391, dtype: int64

# Appendix

In [18]:
import h5py

f = h5py.File(VAEX, 'r')
tbl = f['table']
cols = tbl['columns']
# driver is sec2 - Unbuffered, optimized I/O using standard POSIX functions.
print('Keys in table.columns: ', cols.keys())
print(f'Length of table: {len(tbl)}')

print()
print('Columns and details, note shape for S1 strings seems to be length of all binary data, not row count')
for col_name in cols.keys():
    col = cols[col_name]['data']
    print(col.name, col.dtype, col.shape)

print()
print('First few items from price column:')
price = cols['price']['data']
print('Prices: ', price[:10])

Keys in table.columns:  <KeysViewHDF5 ['county', 'date', 'district', 'duration', 'locality', 'new', 'paon', 'postcode', 'ppd_cat', 'price', 'pt', 'saon', 'status', 'street', 'tin', 'town']>
Length of table: 1

Columns and details, note shape for S1 strings seems to be length of all binary data, not row count
/table/columns/county/data |S1 (303948506,)
/table/columns/date/data int64 (25467513,)
/table/columns/district/data |S1 (274171618,)
/table/columns/duration/data |S1 (25467513,)
/table/columns/locality/data |S1 (155745853,)
/table/columns/new/data |S1 (25467513,)
/table/columns/paon/data |S1 (92502597,)
/table/columns/postcode/data |S1 (189024115,)
/table/columns/ppd_cat/data |S1 (25467513,)
/table/columns/price/data int64 (25467513,)
/table/columns/pt/data |S1 (25467513,)
/table/columns/saon/data |S1 (19254020,)
/table/columns/status/data |S1 (25467513,)
/table/columns/street/data |S1 (329015033,)
/table/columns/tin/data |S1 (967765494,)
/table/columns/town/data |S1 (221480202,)

First few items from price column:
Prices:  [ 18500  73450  59000  31000  95000  45450  96000  30000 425000  89995]